<div pDroppable="control">
    <div class="card">
        <div class="card-header">
            <h3>Campos</h3>
        </div>
        <div class="card-body">
            <ul class="pl-1" style="margin-bottom: 5px;" [hidden]="formFields.value.length > 0">
                <li class="list-group-item d-flexalign-items-center">
                    No hay campos
                </li>
            </ul>
            <ul class="pl-1" style="margin-bottom: 5px;" 
                *ngFor="let field of formFields.value">                        
                <li class="list-group-item d-flexalign-items-center">
                    <i class="pi pi-ellipsis-h mt-1 elipsis highlight-hover" style="float:right;font-size: 2em;" (click)="openOverlay(op1, $event, field)" ></i>
                    <preview-control [field]="field"></preview-control> 
                </li>
            </ul>
            <button class="btn btn-primary btn-block btn-lg mt-3" (click)="clickAddField()">Agregar</button>
        </div>
    </div>
</div>

<!-- New Field Dialog -->
<p-dialog header="Nuevo campo" [(visible)]="showDialog" [modal]="true" [style]="{width: '500px !important', minWidth: '800px'}">
    <div style="width:500px; height: 150px;">
        <label>Campo</label>
        <select class="form-control" [(ngModel)]="selectedNewField" name="selectedNewField">
            <option *ngFor="let fi of availableFields" value="{{fi.field}}">{{fi.name}}</option>
        </select>
        <button class="btn btn-primary btn-block btn-lg mt-3" (click)="doAddField()">Seleccionar</button>
    </div>
</p-dialog>
    

<!-- Overlay  -->
<p-overlayPanel #op1 [appendTo]="'body'">
    <div class="card" style="width: 9.4rem;border-radius: 0px;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" (click)="doShowDetail()">
                <b class="mt-1">Detalles</b>
                <i class="fa fa-edit mt-1" style="float:right;font-size: 1.2em;" ></i> 
            </li>
            <li class="list-group-item" (click)="removeFromForm()">
                <b class="mt-1">Eliminar</b>
                <i class="fa fa-trash mt-1" style="float:right;font-size: 1.2em;"></i> 
            </li>
        </ul>
    </div>
</p-overlayPanel>

<!-- Detail -->
<detail [show]="showDetail" [field]="selectedField"></detail>