<div class="card">
    <div class="card-header">
        <h3>Parámetros</h3>
    </div>
    <div class="card-body">
        <form>
            <label>Título</label>
            <input type="text" 
                class="form-control" 
                placeholder="Título" 
                [(ngModel)]="formConfiguration.title" 
                name="title"
                [class.is-invalid]="invalidTitle">
            <div 
                class="invalid-feedback"
                [style.display]="invalidTitle ? 'block' : 'none'">
                Ingrese un título para el formulario.
            </div>

            <label>Link de imagen</label>
            <input type="text" class="form-control" placeholder="Link de imagen" [(ngModel)]="formConfiguration.imgLink" name="imgLink">

            <label>Mensaje de gracias</label>
            <textarea class="form-control" [(ngModel)]="formConfiguration.thanks" name="gracias"></textarea>
        </form>
    </div>
    
</div>