<ul class="list-group">
    <span [hidden]="field.validations.length > 0">No hay validaciones</span>
    <li class="list-group-item" *ngFor="let val of field.validations">
        {{titles.get(val.type)}} {{getParamsDetail(val)}}
        <i class="fas fa-times mt-1 highlight-hover" (click)="removeValidation(val)" ></i>
    </li>
    <button class="btn btn-primary" (click)="doShowDialog()">Agregar validación</button>
</ul>

<!-- New validation dialog -->
<p-dialog header="Nuevoa validacion" [(visible)]="showDialog" [modal]="false" [style]="{width: '700px !important', minWidth: '800px'}">
    <div style="width:500px; height: 150px;">
        <label>Tipo</label>
        <select class="form-control" [(ngModel)]="selectedValidation" name="selectedValidation">
            <option *ngFor="let valType of availableValidations" value="{{valType}}" >{{titles.get(valType)}}</option>
        </select>
        
        <span [hidden]="selectedValidation != 'max'">            
            <br>
            <label>Máximo valor permitido</label>
            <input type="number" [(ngModel)]="currentParams.max" name="max" class="form-control">
        </span>

        <span [hidden]="selectedValidation != 'maxLength'">            
            <br>
            <label>Cantidad máxima de carácters</label>
            <input type="number" [(ngModel)]="currentParams.maxLength" name="maxLength" class="form-control">
        </span>

        <span [hidden]="selectedValidation != 'min'">            
            <br>
            <label>Mínimo valor permitido</label>
            <input type="number" [(ngModel)]="currentParams.min" name="min" class="form-control">
        </span>

        <span [hidden]="selectedValidation != 'minLength'">
            <br>
            <label>Cantidad mínima de carácters</label>
            <input type="number" [(ngModel)]="currentParams.minLength" name="minLength" class="form-control">
        </span>

        <button class="btn btn-primary btn-block btn-lg mt-3" (click)="addValidation()">Seleccionar</button>
    </div>
</p-dialog>