<div class="card">
    <div class="card-body">
        
        <div class="btn-toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-primary btn-sm" (click)="moveUp()">
                    <i class="fa fa-caret-up mt-1" style="float:right;font-size: 1.2em;"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" (click)="moveDown()">
                    <i class="fa fa-caret-down mt-1" style="float:right;font-size: 1.2em;"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" (click)="deleteOption()">
                    <i class="fa fa-times mt-1" style="float:right;font-size: 1.2em;"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" (click)="clearOptions()">
                    <i class="fas fa-broom mt-1" style="float:right;font-size: 1.2em;"></i>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Predefinidos
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Pais</a>
                    <a class="dropdown-item" href="#">Localidad</a>
                    <a class="dropdown-item" href="#">Barrio</a>
                    <a class="dropdown-item" href="#">Comuna</a>
                    <a class="dropdown-item" href="#">Localidad</a>
                </div>
            </div>
        </div>

        <select multiple class="form-control" id="exampleFormControlSelect2" size="5" [(ngModel)]="selectedOptions">
            <option *ngFor="let op of field.options">{{op}}</option>
        </select>
        <div class="ui-inputgroup" style="margin-top:5px;">
            <input type="text" class="form-control add-option-input" placeholder="Agregar opción" [(ngModel)]="newOption">   
            <button pButton type="button" icon="pi pi-check" class="ui-button-primary" (click)="addOption()"></button>      
        </div>
    </div>
</div>