<br>
<br>

<div class="row justify-content-center">

    <div class="col col-12 col-md-4 col-lg-3">
        <parameters></parameters>
    </div>

    <div class="col col-12 col-md-5 col-lg-6">
        <assemble [fields]="fields"></assemble>
    </div>

</div>

<div class="row justify-content-center">
    <div class="col col-3">
        <button type="button" class="btn btn-primary btn-block btn-lg mt-3" (click)="showJson()">Crear</button>
    </div>
</div>
 