.full-width {
    width: 100vw;
}

.row {
    max-width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

body .ui-button {
    background-color: #fcda59 !important;
    border-color: #fcda59 !important;
    color: #685723 !important;
    box-shadow: none !important;
    font-family: "CHANEWEI", Helvetica, Arial, sans-serif !important;
    letter-spacing: -0.3px;
    font-weight: 400;
    font-size: .875rem;
}

.ui-overlaypanel-content {
    margin-top: -7px;
    padding: 0px !important;
}

.highlight-hover:hover {
    color: #fcde64;
    cursor: pointer;
}