<p-sidebar [(visible)]="show" styleClass="ui-sidebar-md" [fullScreen]="true">

    <div class="containter">
        <div class="row">

            <div class="col col-12">

                <h3>{{editingField?.label}}</h3>

                <form>

                    <label>Tipo de campo</label>
                    <select class="form-control" name="renderType" [(ngModel)]="editingField.renderType">
                        <option value="FormTextController">Texto</option>
                        <option value="FormNumberController">Texto numérico</option>
                        <option value="FormTextAreaController">Area de texto</option>
                        <option value="FormSelectController">Lista de seleccion</option>
                        <option value="FormRadiobuttonController">Lista de radiobuttons</option>
                        <option value="FormCheckboxController">Checkbox</option>
                        <option value="FormDatepickerController">Fecha</option>
                    </select>

                    <label>Titulo</label>
                    <input type="text" class="form-control" name="label" placeholder="Titulo" [(ngModel)]="editingField.label">

                    <ng-template [ngIf]="showAttribute('Placeholder')">
                        <label>Placeholder</label>
                        <input type="text" class="form-control" name="placeholder" placeholder="Placeholder" [(ngModel)]="editingField.placeholder">
                    </ng-template>

                    <ng-template [ngIf]="showAttribute('Options')">
                        <label>Opciones</label>
                        <control-options [field]="editingField"></control-options>
                    </ng-template>

                    <label>Validaciones</label>
                    <validations [field]="editingField"></validations>

                    <label style="font-size: 16px;" class="mb-2"> <input [(ngModel)]="isRequired" name="isRequired" type="checkbox" /> Requerido </label>

                    <br/>

                    <button type="button" class="btn btn-primary mr-1" (click)="save()">Guardar</button>
                    <button type="button" class="btn btn-danger " (click)="cancel()">Cancelar</button>

                </form>

            </div>

        </div>
    </div>

</p-sidebar>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>