<ng-template [ngIf]="field.renderType == 'FormTextController'">
    <label style="font-size: 17px" >{{field.label}}</label>
    <input type="text" class="form-control" placeholder="{{field.placeholder}}"/>
</ng-template>

<ng-template [ngIf]="field.renderType == 'FormNumberController'">
    <label style="font-size: 17px">{{field.label}}</label>
    <input type="number" class="form-control" placeholder="{{field.placeholder}}"/>
</ng-template>

<ng-template [ngIf]="field.renderType == 'FormCheckboxController'">
    <label style="font-size: 16px;" class="mt-2"> <input type="checkbox" /> {{field.label}} </label>
</ng-template>

<ng-template [ngIf]="field.renderType == 'FormRadiobuttonController'">
    <label style="font-size: 16px;" class="mt-2">{{field.label}} </label>
    <div class="form-check" *ngFor="let op of field.options">
        <input class="form-check-input" type="radio" name="exampleRadios" id="{{field.renderType}}{{field.options.indexOf(op)}}" value="option1" checked>
        <label class="form-check-label" for="{{field.renderType}}{{field.options.indexOf(op)}}">
            {{op}}
        </label>
    </div>
</ng-template>

<ng-template [ngIf]="field.renderType == 'FormLabelController'">
    <label style="font-size: 17px">{{field.label}}</label>
</ng-template>

<ng-template [ngIf]="field.renderType == 'FormTextAreaController'">
    <label style="font-size: 17px">{{field.label}}</label>
    <textarea type="text" class="form-control"></textarea>
</ng-template>

<ng-template [ngIf]="field.renderType == 'FormSelectController'">
    <label style="font-size: 17px" >{{field.label}}</label>
    <select class="form-control">
        <option *ngFor="let op of field.options">{{op}}</option>
    </select>
</ng-template>

<ng-template [ngIf]="field.renderType == 'FormDatepickerController'">
    <div class="ui-g ui-fluid">
        <div style="font-size: 17px" class="ui-g-12" >
            <label>{{field.label}}</label> <br/>
            <p-calendar 
                [monthNavigator]="true" 
                [yearNavigator]="true" 
                [locale]="localeCalendarConfig" 
                dateFormat="dd/mm/yy"
                yearRange="{{minYear}}:{{maxYear}}">
            </p-calendar>
        </div>
    </div>
</ng-template>
